.page-header
  %h1
    = @user.name
    %small= @user.email

= render partial: 'orders/order_items', locals: { order_items: @order_items }
= render partial: 'orders/payments', locals: { payments: @payments }
